@import "./mixins.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --scrollbar-thumb: rgb(115, 115, 115);
  --scrollbar-track: rgb(43, 43, 43);
}

@layer base {
  body {
    @apply text-gold;
    font-family: "beaufort", "beaufort Fallback";
  }
}

@layer components {
  .leaflet-tooltip.map-tooltip::before {
    @apply hidden;
  }

  .leaflet-tooltip.map-tooltip {
    @apply text-white bg-primary border-2 border-primary p-2;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
}

.rounded-r-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 0 6px 6px 0;
}

.leaflet-container {
  background: none !important;
}

.leaflet-popup {
  transition: none !important;
}

.leaflet-popup-content-wrapper {
  background: transparent !important;
  box-shadow: none !important;
}

.leaflet-popup-content {
  margin: 0 !important;
  padding: 0 !important;
}

.leaflet-popup-tip-container {
  display: none !important;
}

.text-outline {
  @mixin text-outline 1px;
}

.leaflet-interactive {
  cursor: inherit !important;
}
