@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-gold;
  font-family: "beaufort", "beaufort Fallback";
}

.leaflet-container {
  background: none !important;
}

.leaflet-tooltip.mob-tooltip {
  @apply text-white bg-primary border-2 border-primary p-2;
}

.leaflet-tooltip.mob-tooltip::before {
  @apply hidden;
}

@mixin text-outline($size) {
  text-shadow:
    $size $size 0 #000,
    (-$size) (-$size) 0 #000,
    $size (-$size) 0 #000,
    (-$size) $size 0 #000;
}

.text-outline {
  @include text-outline(1px);
}
